.header{
    height: 60px;
    border:  red 1px solid;
}
.header ul{
    list-style: none;
}
.header  li{
    margin-left: 10px;
    display: block;
    float: left;
}
.section{
    text-align: center;
}
.left{
    width: 200px;
    float: left;
    border:  red 1px solid;

}